<% var categories = response.categories || ''; var parent_id =
response.parent_category || id; var categories_image = response.categories_image
|| ''; var categories_description = response.categories_description || ''; var
categories_content = response.categories_content || ''; %>

<div class="panel panel-widget forms-panel">
  <div class="progressbar-heading general-heading">
    <h4><%- title %>:</h4>
  </div>
  <div class="forms">
    <h3 class="title1"></h3>
    <div class="form-three widget-shadow"><%- form %></div>
  </div>
</div>
