
<div class="panel panel-widget forms-panel">
  <div class="progressbar-heading general-heading">
    <h4><%- title %>:</h4>
  </div>
  <div class="forms">
    <h3 class="title1"></h3>
    <div class="form-three widget-shadow"><%- form %></div>
    
  </div>
</div>
