<nav class="main-menu">
    <ul>
    <%- menuHtml %>  
    <ul class="logout">
                <li>
                <a href="/admin/logout/">
                <i class="icon-off nav-icon"></i>
                <span class="nav-text">
                Logout
                </span>
                </a>
                </li>
    </ul>
</nav>
