<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../frontend/views/layouts/head") %>

</head>
<body class="container">

<header>
    <%- include ("../../frontend/views/layouts/header") %>

</header>

<main>
    <%- include ("contents/register_content") %>
</main>

<footer>
  <%- include ("../../frontend/views/layouts/footer") %>

</footer>

</body>
</html>
