<div class="agile-signup">	
	<div class="error-page">
                <img src="/admin/images/error.png" alt="">
        </div>

        <div class="go-back">
                <a href="/admin/">Back To Home</a>
        </div>
</div>
