  <% if (successMsg.length > 0) { %>
        <div class="alert alert-success"><%- 

            successMsg 

            %></div>
        <% } else if(errorMsg.length > 0) { %>
        <div class="alert alert-danger">

            <% for(var i=0; i < errorMsg.length; i++) { %>
             </br><span><%- errorMsg[i].msg %></span>
            <% } %>
        </div>
 <% } %>