<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../backend/view/layouts/header.ejs') %>
</head>

<main>
    <%- include ('contents/login_contents.ejs') %>
</main>

<script src="/admin/js/bootstrap.js"></script>
<script src="/admin/js/proton.js"></script>
</body>
</html>






	

	
