  <% if (successMsg.length > 0) { %>
        <div class="alert alert-success"><%- successMsg %></div>
        <% } else if(errorMsg.length > 0) { %>
        <div class="alert alert-danger">
        <% for(var i=0; i < errorMsg.length; i++) { %>
        </br><span><p class="mb-0 alert-heading"><%- errorMsg[i].msg %></p></span>
        <% } %>
        </div>
 <% } %>