  <% if (success_msg.length > 0) { %>
        <div class="alert alert-success"><%- success_msg %></div>
        <% } else if(error_msg.length > 0) { %>
        <div class="alert alert-danger">
        <% for(var i=0; i < error_msg.length; i++) { %>
        </br><span><p class="mb-0 alert-heading"><%- error_msg[i].msg %></p></span>
        <% } %>
        </div>
 <% } %>